{{#magenta}}Total Failing Issues{{/magenta}} {{ batch_total.failing-issues }} of {{ total.issues }}
{{#magenta}}Total Failing Pull-Requests{{/magenta}} {{ batch_total.failing-pullRequests }} of {{ total.pullRequests }}
