
{{#magenta}}Usage:{{/magenta}}

    haunt {{#grey}}<test-path> <github-path>{{/grey}}

{{#magenta}}flags:{{/magenta}}

    {{#yellow}}--user{{/yellow}} - specify a username and password for account to make issue changes on behalf of
    {{#yellow}}--reporter{{/yellow}} - specify a mocha reporter for test output formatting. If not specified, nothing will be output.

{{#magenta}}Example:{{/magenta}}

    $ haunt {{#yellow}}-u user:pass{{/yellow}} ./haunt.js http://github.com/twitter/bootstrap

{{#magenta}}General Help:{{/magenta}}

    http://git.io/haunt
