
{{#magenta}}Usage:{{/magenta}}

    haunt {{#grey}}<test-path> <github-path>{{/grey}}

{{#magenta}}Flags:{{/magenta}}

    {{#yellow}}--stub{{/yellow}}     - {{#grey}}(-s){{/grey}}      stubs the github api, so that requests aren't actually made to live github data
    {{#yellow}}--user{{/yellow}}     - {{#grey}}(-u u:p){{/grey}}  specify a username and password for an account to make issue changes on behalf of
    {{#yellow}}--reporter{{/yellow}} - {{#grey}}(-r Spec){{/grey}} specify a mocha reporter for test output formatting. If not specified, nothing will be output.

{{#magenta}}Example:{{/magenta}}

    $ haunt .issue_guidelines.js http://github.com/twitter/bootstrap

{{#magenta}}General Help:{{/magenta}}

    http://git.io/haunt
