
{{#magenta}}Usage:{{/magenta}}

    haunt {{#grey}}<test-path> <github-path>{{/grey}}

{{#magenta}}options:{{/magenta}}

    {{#yellow}}--user{{/yellow}} - specify a username and password for account to make issue changes on behalf of

{{#magenta}}Example:{{/magenta}}

    $ haunt {{#yellow}}-u user:pass{{/yellow}} ./haunt.js http://github.com/twitter/bootstrap

{{#magenta}}General Help:{{/magenta}}

    http://git.io/haunt
