Hey @{{user}},

Thanks for opening this {{type}}! There's just a thing or two more that you need to do before we can consider it for [{{repo}}]({{repo_path}}):

{{#failures}}
+ {{title}}
{{/failures}}

As soon as you do that, we'll consider your submission right away!

Thanks!

Note: For a full list of issue filing guidelines, please refer to the [{{repo}}]({{repo_path}}) issue filing guidelines.