Hey @{{user}},

Sorry, but it looks like your recently filed issue failed to meet the criteria of a valid issue as defined by the {{name}} repo. The specific tests failed include:

{{#failures}}
+ **{{name}}** - {{description}}
{{/failures}}

Because of the above failures, we're closing this issue.

If you believe you've recieved this message in error, please file an issue with us [here](//github.com/fat/haunt).

For a full list of issue filing guidelines, please visit the {{name}} guideline spec [here]({{guideline_url}}).

<3 Haunt