Hey @{{user}},

Thanks for opening this {{type}}! Unfotunately, it looks like it fails to pass the tests neccessary for submitting to [{{repo}}]({{repo_path}}). The following tests are currently failing:

{{#failures}}
+ {{title}}
{{/failures}}

For a full list of issue filing guidelines, please seek the [{{repo}}]({{repo_path}}) guideline spec.

thanks!