Hey @{{user}},

Just a heads up - but it looks like your recently filed issue has raised a few warnings for a valid issue as defined by the {{name}} repo. The specific tests throwing warnings include:

{{#warnings}}
+ **{{name}}** - {{description}}
{{/warnings}}

For a full list of issue filing guidelines, please visit the {{name}} guideline spec [here]({{guideline_url}}).

If you believe you've recieved this message in error, please file an issue with us [here](//github.com/fat/haunt).

<3 Haunt